<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    <div class="container content">
      <div class="masthead">
          <img src="https://i.imgur.com/vWfZq1E.png">
          </img>

        <h3 class="masthead-title">
          <a href="/{{ site.baseurl }}" title="Home">{{ site.title }}</a>
          <small>{{ site.tagline }}</small>
          {% for page in site.pages_list %}
            &nbsp;&nbsp;&nbsp;
              <small><a href="{{ page[1]  }}">{{ page[0] }}</a></small>
              {% endfor %}
        </h3>
      </div>

      {{ content }}

      <div class="footer">
        <p>
            All views expressed are my own, if anyone's.
        </p>
        <strong>Blogroll</strong>
        <ul>
          <li><a href="https://windowsontheory.org/author/hardeasy/">Boaz Barak</a></li>
          <li><a href="http://www.overcomingbias.com/">Robin Hanson</a></li>
          <li><a href="https://www.thebigquestions.com/blog/">Steven Landsburg</a></li>
          <li><a href="https://twitter.com/willdoingthings">Will Newsome</a></li>
          <li><a href="https://twitter.com/webmasterdave?lang=en">David Pearce</a></li>
          <li><a href="https://twitter.com/akadashan?lang=en">Mark Rowswell</a></li>
          <li><a href="http://people.idsia.ch/~juergen/whatsnew.html">Juergen Schmidhuber</a></li>
        </ul>
        <!-- footer image
        -->
          <img src="https://i.imgur.com/DH2EAqd.png">
          </img>
      </div>
    </div>

  </body>
</html>
